Repository devops-adeel/gtd-coach, changes with the labels that .github/labeler.yml gives for each.
All labels: agent, tests, documentation, ci/cd, dependencies, docker, langgraph, adhd-features, timing-integration, memory

security: implement comprehensive API key protection system
  .github/workflows/security.yml
  .gitignore
  .pre-commit-config.yaml
  .secrets.baseline
  SECURITY.md
Labels: documentation, ci/cd

docs: archive historical and redundant documentation
  docs/PERFORMANCE_BASELINES.md
  docs/archive/CONFIGURATION.md
  docs/archive/TESTING_GUIDE.md
  docs/archive/USER_GUIDE.md
  docs/archive/development-history/EVALUATION_SYSTEM_STATUS.md
  docs/archive/development-history/LANGGRAPH_MIGRATION_PHASE1.md
  docs/archive/development-history/LANGGRAPH_STATE_INJECTION_FIX.md
  docs/archive/development-history/LLM_JUDGE_IMPLEMENTATION.md
  docs/archive/development-history/N_OF_1_IMPLEMENTATION_SUMMARY.md
  docs/archive/development-history/PATTERN_LEARNING_PHASE2.md
  docs/archive/development-history/PHASE3_INTERVENTIONS.md
  docs/archive/development-history/PHASE4_ADAPTIVE_BEHAVIOR.md
  docs/archive/development-history/TIMING_API_TEST_RESULTS.md
  docs/archive/development-history/phase3_summary.md
  docs/archive/development-history/phase4_test_suite_progress.md
  docs/archive/development-history/phase4_week3_progress.md
Labels: documentation

docs: implement Diátaxis documentation framework
  docs/explanation/adhd-design.md
  docs/explanation/architecture.md
  docs/how-to/configure-integrations.md
  docs/how-to/setup.md
  docs/how-to/testing.md
  docs/reference/api.md
  docs/reference/cli.md
  docs/reference/configuration.md
  docs/tutorial/getting-started.md
Labels: documentation

docs: consolidate and simplify core documentation
  CLAUDE.md
  README.md
  docs/DEVELOPER.md
Labels: documentation

docs: add maintenance guidelines and complete consolidation
  CLEANUP_SUMMARY.md
  docs/CONSOLIDATION_SUMMARY.md
  docs/MAINTENANCE.md
  tests/agent/README.md
Labels: agent, tests, documentation

feat: implement V2 tools to fix InjectedState incompatibility
  gtd_coach/agent/runner.py
  gtd_coach/agent/tools/__init__.py
  gtd_coach/agent/tools/time_manager_v2.py
Labels: agent

feat: migrate to xLAM-7b-fc-r model for improved tool calling
  examples/demo-review-xlam.py
  examples/demo-review.py
  gtd_coach/agent/core.py
Labels: agent

feat: enhance tool descriptions and implement phase-based loading
  gtd_coach/agent/tools/improved_descriptions.py
  gtd_coach/agent/tools/phase_tools.py
Labels: agent

test: add xLAM model tests and migration documentation
  docs/model-comparison.md
  test_xlam_agent.py
  test_xlam_model.py
Labels: tests, documentation

refactor(docker): switch to external Neo4j container
  docker-compose.yml
Labels: docker

feat(graphiti): add connection logging and database docs
  gtd_coach/integrations/graphiti_client.py
Labels: memory

refactor\!: migrate from Neo4j to FalkorDB-only backend
  docker-compose.yml
  gtd_coach/integrations/graphiti.py
  gtd_coach/integrations/graphiti_client.py
  pytest.ini
  requirements.txt
  tests/conftest.py
Labels: tests, dependencies, docker, memory

docs: add comprehensive FalkorDB migration guide
  docs/FALKORDB_MIGRATION_COMPLETE.md
Labels: documentation

test: add FalkorDB integration and shared knowledge tests
  tests/integration/test_orbstack_falkordb.py
  tests/integration/test_shared_knowledge.py
Labels: tests

fix: resolve test collection errors
  Dockerfile
  gtd_coach/agent/workflows/daily_capture.py
  gtd_coach/commands/test.py
  tests/agent/test_coverage_gaps.py
  tests/agent/test_integration.py
Labels: agent, tests, docker, langgraph

feat: add OrbStack networking support
  .gitignore
  docker-compose.yml
Labels: docker

feat: enhance GraphitiMemory with session context
  gtd_coach/coach.py
  gtd_coach/integrations/graphiti.py
Labels: memory

fix: update tool invocations for LangGraph v0.6 compatibility
  gtd_coach/agent/workflows/daily_capture.py
  gtd_coach/agent/workflows/weekly_review.py
Labels: agent, langgraph

fix: enable LLM client initialization in GTDAgent
  gtd_coach/agent/__init__.py
Labels: agent

test: add automatic external service mocking for tests
  requirements.txt
  tests/conftest.py
Labels: tests, dependencies

test: update test mocks for LangGraph v0.6 compatibility
  tests/integration/test_end_to_end.py
  tests/integration/test_graphiti_optimizations.py
  tests/test_coach.py
  tests/unit/test_prompt_management.py
Labels: tests

feat: enhance shadow runner with test compatibility methods
  gtd_coach/agent/shadow_runner.py
Labels: agent

fix: add session context to GraphitiMemory initialization
  gtd_coach/agent/tools/graphiti.py
  gtd_coach/integrations/graphiti.py
Labels: agent, memory

test: fix checkpointing and shadow mode test compatibility
  tests/agent/test_checkpointing.py
  tests/agent/test_shadow_mode.py
Labels: agent, tests

feat: add OrbStack-optimized test runner script
  scripts/test-orbstack.sh
Labels: none

feat: add pattern evolution and persistence modules
  gtd_coach/patterns/evolution.py
  gtd_coach/patterns/pattern_persistence.py
  tests/unit/test_memory_persistence.py
Labels: tests, adhd-features

fix: Handle missing resume attribute when no subcommand provided
  gtd_coach/__main__.py
Labels: none

fix: Configure LM Studio model selection via environment variable
  docker-compose.yml
  docs/LANGGRAPH_V0.6_MIGRATION.md
  gtd_coach/agent/runner.py
  scripts/testing/fix_test_patterns.py
  scripts/testing/validate_production.py
  tests/agent/test_async_patterns.py
  tests/agent/test_coverage_gaps.py
  tests/agent/test_interrupt_resume.py
  tests/agent/test_langgraph_journeys.py
  tests/agent/test_performance_benchmarks.py
  tests/agent/test_shadow_mode.py
  tests/agent/test_workflow.py
  tests/conftest.py
  tests/integration/test_workflow_with_interrupts.py
Labels: agent, tests, documentation, docker

fix: simplify initial state to resolve streaming issue
  gtd_coach/agent/runner.py
  test_lm_studio_stream.py
  test_minimal_agent.py
  test_react_agent.py
  test_xlam_direct.py
  test_xlam_simple.py
Labels: agent, tests

debug: use minimal tool to isolate streaming issue
  gtd_coach/agent/runner.py
Labels: agent

debug: add direct LLM test before agent creation
  gtd_coach/agent/core.py
  gtd_coach/agent/runner.py
Labels: agent

fix: restore essential tools after debugging
  gtd_coach/agent/runner.py
Labels: agent

feat: add system message to guide agent behavior
  gtd_coach/agent/runner.py
Labels: agent

fix: resolve WEEKLY_REVIEW phase transition error
  gtd_coach/agent/core.py
  gtd_coach/agent/runner.py
  gtd_coach/agent/tools/time_manager_v2.py
Labels: agent

fix: add required state fields for tools to function properly
  gtd_coach/agent/runner.py
Labels: agent

fix: remove structured_input_tool from ESSENTIAL_TOOLS
  gtd_coach/agent/tools/__init__.py
Labels: agent

chore: remove temporary debugging test files
  test_lm_studio_stream.py
  test_minimal_agent.py
  test_react_agent.py
  test_xlam_agent.py
  test_xlam_direct.py
  test_xlam_model.py
  test_xlam_simple.py
Labels: tests

fix: improve agent continuation instructions for STARTUP phase
  gtd_coach/agent/core.py
  gtd_coach/agent/runner.py
  gtd_coach/agent/tools/time_manager_v2.py
Labels: agent

fix: resolve infinite loop in sequential interrupt handling
  docs/development/interrupt-fix-2025-08-20.md
  gtd_coach/agent/core.py
  gtd_coach/agent/runner.py
  gtd_coach/agent/tools/__init__.py
  gtd_coach/agent/tools/conversation_v2.py
  gtd_coach/agent/tools/time_manager_v2.py
  gtd_coach/observability/__init__.py
  gtd_coach/observability/interrupt_monitor.py
  gtd_coach/observability/langfuse_tracer.py
  pyproject.toml
  requirements.txt
  scripts/analyze_langfuse_traces.py
Labels: agent, documentation, dependencies

chore: reorganize repository structure for clarity
  scripts/testing/run_tests.sh
  scripts/testing/test_ci_cd.sh
  scripts/testing/test_docker_interrupt.sh
  scripts/testing/test_enhanced_observability.sh
  scripts/testing/test_interactive.sh
  scripts/testing/test_interrupt_continuation.py
  scripts/testing/test_langfuse_integration.py
  scripts/testing/test_llm_client.py
  scripts/testing/test_migration_status.py
  scripts/testing/test_n_of_1_implementation.py
  scripts/testing/test_simple_docker.sh
Labels: tests

.github/labeler.yml:

# Configuration for GitHub labeler action

agent:
  - changed-files:
    - any-glob-to-any-file:
      - gtd_coach/agent/**/*
      - tests/agent/**/*

tests:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**/*
      - '**/test_*.py'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - docs/**/*
      - '**/*.md'
      - README.md
      - CLAUDE.md

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**/*
      - codecov.yml
      - .coveragerc

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - requirements*.txt
      - Pipfile*
      - poetry.lock
      - pyproject.toml

docker:
  - changed-files:
    - any-glob-to-any-file:
      - Dockerfile*
      - docker-compose*.yml
      - .dockerignore

langgraph:
  - changed-files:
    - any-glob-to-any-file:
      - '**/state.py'
      - '**/workflows/*.py'
      - '**/checkpointer*.py'

adhd-features:
  - changed-files:
    - any-glob-to-any-file:
      - '**/interventions.py'
      - '**/adhd_*.py'
      - '**/pattern*.py'

timing-integration:
  - changed-files:
    - any-glob-to-any-file:
      - '**/timing*.py'
      - '**/focus*.py'

memory:
  - changed-files:
    - any-glob-to-any-file:
      - '**/graphiti*.py'
      - '**/memory*.py'
      - '**/pattern_detector.py'
