Repository devops-adeel/gtd-coach, changes with the labels that .github/labeler.yml gives for each.
All labels: agent, tests, documentation, ci/cd, dependencies, docker, langgraph, adhd-features, timing-integration, memory

.github/labeler.yml:

# Configuration for GitHub labeler action

agent:
  - changed-files:
    - any-glob-to-any-file:
      - gtd_coach/agent/**/*
      - tests/agent/**/*

tests:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**/*
      - '**/test_*.py'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - docs/**/*
      - '**/*.md'
      - README.md
      - CLAUDE.md

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**/*
      - codecov.yml
      - .coveragerc

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - requirements*.txt
      - Pipfile*
      - poetry.lock
      - pyproject.toml

docker:
  - changed-files:
    - any-glob-to-any-file:
      - Dockerfile*
      - docker-compose*.yml
      - .dockerignore

langgraph:
  - changed-files:
    - any-glob-to-any-file:
      - '**/state.py'
      - '**/workflows/*.py'
      - '**/checkpointer*.py'

adhd-features:
  - changed-files:
    - any-glob-to-any-file:
      - '**/interventions.py'
      - '**/adhd_*.py'
      - '**/pattern*.py'

timing-integration:
  - changed-files:
    - any-glob-to-any-file:
      - '**/timing*.py'
      - '**/focus*.py'

memory:
  - changed-files:
    - any-glob-to-any-file:
      - '**/graphiti*.py'
      - '**/memory*.py'
      - '**/pattern_detector.py'

docs(user): add ADHD-optimized user documentation
  docs/user/QUICK_REFERENCE.md
  docs/user/USER_GUIDE.md
  docs/user/screenshots/README.md
Labels: documentation

feat: add Langfuse test analysis integration for AI debugging
  CLAUDE.md
  docs/dev/langfuse-implementation-summary.md
  docs/dev/langfuse-test-analysis.md
  scripts/analyze_langfuse_traces.py
  scripts/test_langfuse_analyzer.sh
  tests/conftest.py
  tests/test_langfuse_analyzer_example.py
Labels: tests, documentation

feat(prompts): add centralized PromptManager class
  gtd_coach/prompts/manager.py
Labels: none

feat(langfuse): add prompt linking to traces
  gtd_coach/agent/core.py
  gtd_coach/agent/runner.py
  gtd_coach/observability/langfuse_tracer.py
Labels: agent

feat(langfuse): enhance trace analyzer for debugging
  scripts/LANGFUSE_ANALYZER_USAGE.md
  scripts/analyze_langfuse_traces.py
  scripts/test_enhanced_langfuse_analyzer.py
Labels: tests, documentation

feat(langfuse): add prompt management utilities
  scripts/langfuse/upload_all_prompts.py
  scripts/langfuse/upload_missing_prompts.py
  scripts/test_prompt_linking.py
  scripts/verify_prompt_linking.py
  scripts/verify_prompts.py
Labels: tests

feat(graphiti): add memory enhancements and optimization
  gtd_coach/integrations/graphiti.py
  gtd_coach/integrations/graphiti_client.py
Labels: memory

feat(agent): add selective memory augmentation to tools
  gtd_coach/agent/tools/adaptive.py
  gtd_coach/agent/tools/capture.py
Labels: agent

test: add comprehensive tests and documentation
  docs/graphiti-enhancements-summary.md
  gtd_coach/agent/tools/interaction.py
  gtd_coach/evaluation/post_session.py
  scripts/test_evaluation_prompts.py
  scripts/test_evaluation_simple.py
  scripts/test_online_evaluation.py
  tests/test_graphiti_performance.py
  tests/test_graphiti_performance_simple.py
Labels: agent, tests, documentation

feat: implement simplified GTD workflow (Phases 2-5)
  QUICK_START.md
  docs/SETUP_TIMING.md
  docs/user/QUICK_REFERENCE.md
  docs/user/USER_GUIDE.md
  gtd_coach/agent/workflows/weekly_review.py
  gtd_coach/commands/daily_capture.py
  gtd_coach/commands/daily_clarify.py
  gtd_coach/integrations/graphiti.py
  gtd_coach/integrations/timing.py
  gtd_coach/integrations/todoist.py
  requirements.txt
  scripts/validation/test_simplified_workflow.py
  scripts/validation/test_timing_api.py
  scripts/validation/test_timing_read.py
  scripts/validation/test_todoist_integration.py
Labels: agent, tests, documentation, dependencies, langgraph, timing-integration, memory

fix: handle both text and chat prompts in PromptManager
  gtd_coach/prompts/manager.py
  scripts/fix_prompt_type.py
Labels: none

fix(langfuse): switch to async OpenAI client for embeddings
  gtd_coach/integrations/graphiti_client.py
Labels: memory

fix(prompts): replace literal placeholders with dynamic variables
  config/prompts/system.txt
Labels: none

feat(docker): add log rotation to prevent disk exhaustion
  docker-compose.yml
Labels: docker

feat(monitoring): add disk space monitoring utilities
  gtd_coach/utils/disk_monitor.py
Labels: none

feat(maintenance): add Docker cleanup automation scripts
  scripts/docker_maintenance.sh
  scripts/setup_maintenance_cron.sh
Labels: none

fix(agent): add disk space pre-flight checks
  gtd_coach/agent/runner.py
Labels: agent

feat(prompts): enhance prompt manager with chat format handling
  gtd_coach/prompts/manager.py
  scripts/langfuse/upload_all_prompts.py
Labels: none

docs: document January 2025 fixes and maintenance procedures
  CLAUDE.md
  tests/agent/test_interrupt_resume.py
Labels: agent, tests, documentation

fix(agent): resolve weekly review UX issues with interrupt handling
  gtd_coach/agent/core.py
  gtd_coach/agent/core_metrics_fix.py
  gtd_coach/agent/runner.py
  gtd_coach/integrations/graphiti.py
  gtd_coach/observability/interrupt_monitor.py
  gtd_coach/observability/langfuse_tracer.py
Labels: agent, memory

feat(tools): add v3 conversation tools with improved interrupt pattern
  gtd_coach/agent/tools/__init__.py
  gtd_coach/agent/tools/capture_v2.py
  gtd_coach/agent/tools/conversation_v2.py
  gtd_coach/agent/tools/conversation_v3.py
  scripts/langfuse/upload_prompts_v3.py
Labels: agent

docs: add comprehensive developer and user documentation
  README.md
  docs/dev/api-reference.md
  docs/dev/langgraph-development.md
  docs/user/adhd-guide.md
  docs/user/getting-started.md
Labels: documentation

feat(migration): add deprecation and migration infrastructure
  gtd_coach/deprecation/decorator.py
  gtd_coach/migration/__init__.py
  gtd_coach/migration/auto_orchestrator.py
  gtd_coach/migration/clarify_adapter.py
  gtd_coach/migration/quality_gates.py
  gtd_coach/observability/deprecation_telemetry.py
  scripts/setup_migration_alerts.py
  scripts/setup_migration_dashboard.py
Labels: none

feat(agent): implement agent-based clarify workflow
  gtd_coach/__main__.py
  gtd_coach/agent/tools/__init__.py
  gtd_coach/agent/tools/clarify_v3.py
  gtd_coach/agent/tools/todoist.py
  gtd_coach/agent/workflows/daily_clarify.py
Labels: agent, langgraph

refactor(commands): apply deprecation to legacy commands
  gtd_coach/commands/daily_alignment.py
  gtd_coach/commands/daily_capture_legacy.py
  gtd_coach/commands/daily_clarify.py
Labels: none

docs: add migration guides and testing infrastructure
  .gitignore
  docs/migration/AGENT_QUICKSTART.md
  docs/migration/MIGRATION_STATUS.md
  docs/migration/TRIAL_LOG.md
  scripts/test_migration_setup.py
  scripts/testing/run_clarify_trial.sh
  scripts/testing/test_agent_ready.py
  scripts/testing/test_clarify_interactive.py
  scripts/testing/test_clarify_migration.py
  scripts/testing/test_clarify_structure.py
Labels: tests, documentation
